.container{
    width:1800px;
    margin: auto;
}
header{
    height: 100%;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
figure {
    width:350px;
    height:350px;  
    border: solid 1px black;
}
img{
    width:100%;
    height:100%;
 
}
a{
    color: rgb(61, 193, 61);
    text-decoration: none;
}
figure{
     position: relative;
}
.bulle{
    border-radius: 50px;
    background-color: rgb(132, 138, 125);
    height: 70px;
    width: 70px;
    position: absolute;
    top: 15px;
    right: 40px;
    text-align: center;
}
.icon{
      position:absolute;
      top:15px ;
      font-size: 35px;
}

@media(max-width:1800px){
    .container{
        width: 100%;
    }

}
@media(max-width:960px){
    .container{
        width: 100%;
    }
    header{
        display: none;
    }

}
@media(max-width:760px){
    .container{
        width: 100%;
    
    }
    header{
        display: none;
    }

}

